<html ng-app="zoomapp">
<head>
    <title></title>


    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">


    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>


    <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>

    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>


    <script src="app/main.js"></script>
    <script type="text/javascript">
        function init() {
            console.log("Working");
            window.init();
        }
    </script>

    <script src="https://apis.google.com/js/client.js?onload=init"></script>


</head>
<body>


<div class="row" ng-controller="postController">

    <div class="col-lg-12">
        <div class="col-lg-8">
            <div class="form-group">
                <label for="title">Title </label>
                <input type="text"
                       ng-model="post.title"
                       class="form-control" id="exampleInputEmail1" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <textarea class="form-control" ng-model="post.content"/></textarea>
            </div>
        </div>
        <div class="col-lg-4">

            <div class="form-group">
                <label for="exampleInputEmail1">Category</label>

                <select ng-model="post.category" class="form-control"
                        ng-change="loadSubCategories(post.category)"
                        ng-options="cate.category for cate in category">
                </select>
                <a class="btn btn-danger btn-sm" ng-click="open('sm')"><i class="glyphicon glyphicon-plus-sign"></i></a>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Sub-Category</label>
                <select ng-model="post.subCategory" class="form-control"
                        ng-options="category.category for category in sub_category">

                </select>
                <a class="btn btn-danger btn-sm" ng-click="open('sm',true)"><i class="glyphicon glyphicon-plus-sign"></i></a>
            </div>

            <button class="btn btn-lg btn-success" ng-click="btSave()">Done</button>

        </div>

    </div>
    <div class="col-lg-12">

        <!--<button class="btn btn-success" ng-click="btAddFile()">Add</button>-->
        <div>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Res</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in post.resourceses">
                    <td>1</td>
                    <td><input type="text"
                               ng-disabled="file.cannotRemove"
                               ng-model="file.name"
                               class="form-control input-lg" id="exampleInputEmail1" placeholder="Resource Name">

                    </td>
                    <td><input type="url" ng-model="file.resURL"
                               class="form-control"></td>
                    <!--<td><input type="checkbox" ng-model="file.isres"-->
                               <!--class="form-control"></td>-->

                    <!--<td>-->
                        <!--<a ng-if="!file.cannotRemove" class="btn btn-danger" ng-click="btRemoveFile($index)">-->
                            <!--<i class="glyphicon glyphicon-remove-circle"></i>-->
                        <!--</a>-->
                    <!--</td>-->
                </tr>

                </tbody>
            </table>


        </div>
    </div>


    <script type="text/ng-template" id="addCategory.html">
        <div class="modal-header">
            <h3 class="modal-title">Add New Category</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                Select Parent Category
                <select ng-model="categoryObj.parentCategory" class="form-control"
                        ng-options="cate.category for cate in categorylIST">
                </select>
            </div>
            <div class="form-group">
                Enter Category Title
                <input type="text"
                       ng-model="categoryObj.category"
                       class="form-control" id="exampleInputEmail1" placeholder="Enter Category Title">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveCategory(categoryObj)">OK</button>
            <button class="btn btn-warning" ng-click="cancelSave()">Cancel</button>
        </div>
    </script>


</div>


</body>
</html>
